/* ∞∞ global ∞∞ */
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  /*background: linear-gradient(-45deg, #9d5761, #ff5959);*/
  background-color: lightslategray;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  padding: 5px;
}

html, body {
  height: 100%;
  overflow: hidden;
}

h3 {
  position: absolute;
  right: 0;
}


header {
  display: flex;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.instruction {
  top: 40vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.instruction-2 {
  top: 30vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.instruction-3 {
  top: 5vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.scroll-container-flex{
  top: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;
}

.num-opt {
  flex: 0 0 auto;
  font-size: 6rem;
  margin-right: 50px;
}

.num-opt:hover {
  font-size: 8rem;
  font-weight: bold;
}

.input-container-flex {
  top: 40vh;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}

.search-box {
  border-radius: 3px;
  width: 75vw;
  height: 5vh;
  margin-bottom: 10px;
}

.restart-2 {
  margin-top: 5px;
}

.search-button, .restart-2 {
  width: 75vw;
  min-height: 30px;
  border-radius: 5px;
}

.calc-button {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 70vw;
  height: 5vh;
  top: 8vh;
  border-radius: 5px;
}

.restart-button {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 70vw;
  height: 5vh;
  top: 10vh;
  border-radius: 5px;
}


.card-container {
  flex: 1;
  transition: 0.3s;
  margin: 10px;
  border-radius: 15px;
  max-width: 160px;

}

.card-rotate {
  transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.97);
  border-radius: 15px;
}

.card-front {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.inner-input{
  display: inline-block;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 150px;
}

.back-message {
  width: 85%;
  margin: 0 auto;
  top: 30%;
}

.container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
  font-size: .8rem;
  height: 92px;
}

.results-container {
  margin-top: 150px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 10px;
}

p {
  font-weight: 600;
}

.condition {
  font-size: .5rem;
  width: 20vh;
  height: 8vh;
  appearance: none;
  display: inline-block;

}

li:hover {
  cursor: pointer;
}


.total-view-flex  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
}

.item-view {
  overflow-y: auto;
  height: 95vh;
  padding-bottom: 50px;
}

.item-view-title {
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-ul-flex {
  display: flex;

  width: 60vw;

  font-size: .9rem;
}

li {
  display: block;
  margin-left: 10px;
}

.price {
  grid-row-start: 3;
}

.prices-grid  {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b c d e";
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.97);

}

.conditions {
  font-size: .8rem;
  min-width: 20%;
}

.step-4 {
  height: 100vh;
}

.nav-item:hover {
  cursor: pointer;
  color: black;
}

.img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 150px;
}



@media screen and (min-width: 522px) {

  .calc-button, .restart-button {
    max-height: 27px;
    max-width: 365px;
  }


  .search-box {
    max-height: 63px;
    max-width: 390px;
  }

  .search-button, .restart-2 {
    max-width: 390px;
    max-height: 30px;
  }




}



@media screen and (min-width: 698px) {
  .scroll-container-flex{
    justify-content: center;

  }
}
