/* ∞∞ global ∞∞ */
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background: radial-gradient(circle, rgba(204,221,238,1) 0%, rgba(116,152,186,1) 56%, rgba(76,113,147,1) 100%);
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
}

html, body {
  height: 100%;
  overflow: hidden;
}

h1, h2 {
  margin-bottom: 10px;
}

.logo {
  color: #0B3B59;
  font-size: 2rem;
  z-index: 1;
  width: max-content;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

span.bold-span {
  font-weight: 700;
  font-family: 'Raleway', san-serif;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.directions {
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif
}

.GET-QUOTE {
  width: 80vw;
  left: 10vw;
}

.quote-label, .item-view-title {
  /* margin-left: 30px; */
  color: #F2EFE9;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: .2em;
  color: black;
  background-color: white;
  height: 60px;
  padding: 5px;
  border-top: 6px solid red;
  text-transform: uppercase;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.97);
  cursor: pointer;
}

header {
  height: 50px;
  width: max-content;
  display: table;
  margin: 0 auto;
}

p {
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



.bg-img-container {
  background-image: url('Assets/bg-img.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;

}

.step-1 .bg-img-container {
  min-height: 50vh;
}

.instruction {
  top: 6vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #0B3B59;
}

.instruction-2 {
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #0B3B59;
  margin-bottom: 10px;
}



.instruction-3 {
  top: 5vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.scroll-container-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  color: #0B3B59;
  top: 15vh;
}

.num-opt {
  flex: 0 0 auto;
  font-size: 6rem;
  margin-right: 50px;
}

.num-opt:hover {
  font-size: 8rem;
  font-weight: bold;
  cursor: pointer;
}

.input-container-flex {
  bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  height: 56%;
}

.search-box {
  border-radius: 3px;
  width: 75vw;
  height: 5vh;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.restart-2 {
  margin-top: 5px;
}

.srch-restart-buttons {
  text-align: center;

  width: 100vw;
}

.search-button, .restart-2 {
  width: 37vw;
  border-radius: 5px;
  background-color: #F2EFE9;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  border: 2px solid #0B3B59;
}


.card-container {
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}

.card-rotate {
  transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.97);
}

.card-front {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.inner-input{
  display: inline-block;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 150px;
}

.back-message {
  width: 85%;
  margin: 0 auto;
  top: 30%;
  font-size: 1.5rem;
}

.container {
  background-color: #EFF1F2;
  padding: 5px;
  height: 120px;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.p-bottom {
  position: absolute;
  bottom: 5px;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
}

.condition {
  font-size: .5rem;
  width: 20vh;
  height: 8vh;
  appearance: none;
  display: inline-block;
}

li:hover {
  cursor: pointer;
}


.total-view-flex  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
  padding: 20px;
}

.item-view {
  overflow-y: auto;
  height: 95vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.nav-ul-flex {
  display: flex;

  width: 60vw;

  font-size: .9rem;
}

li {
  display: block;
  margin-left: 10px;
}

.price {
  grid-row-start: 3;
  text-align: center;
  font-family: 'Architects Daughter', cursive
}

.prices-grid  {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b c d e";
  background-color: ghostwhite;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.97);
  margin: 0 auto;
  grid-gap: 10px;
  font-size: 1.5rem;
}

.conditions, .conditions-short {
  min-width: 20%;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.conditions-short {
  display: none;
}

.price:before {
  content: "$"
}

.get-quote {
  height: 100vh;
  width: 90vw;
  left: 10vw;
}

.view-buttons {
  height: 50px;
  min-width: 35vw;
  right: 0;
  top: 0;
  position: absolute;
  justify-content: space-evenly;
  display: flex;
  font-size: 2rem;
  align-items: center;

}

.view-buttons button.active {
  background-color: transparent;
  /* border-left: 8px solid #BAD9D9; */
  /* border-right: 8px solid #BAD9D9; */
  /* border-top: 8px solid #BAD9D9; */
  color: black;
  border-bottom: 5px solid red;
}

.view-buttons button:hover {
  /* background-color: #F2EFE9; */
}



.step-1, .step-2 {
  height: calc(100vh - 40px);
}

.step-4 {
  height: 100vh;
}

.nav-item:hover {
  cursor: pointer;
  color: black;
}

.nav-item {
  width: max-content;
  background-color: transparent;
  height: max-content;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  border-style: none;
}

.img-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  background-color: #EFF1F2;
  border: 10px solid #EFF1F2;
}

/* Style the tab */
.item-header-tabs {
  float: left;
  background-color: #112233;
  /* background-image: radial-gradient(#112233, #7788aa); */
  height: 90vh;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 35px;
}

/* Style the buttons that are used to open the tab content */
.item-header-tabs button {
  display: block;
  background-color: inherit;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.2rem;
  color: ghostwhite;
}

/* Change background color of buttons on hover */
.item-header-tabs button:hover {
  background-color: #F2EFE9;
}

/* Create an active/current "tab button" class */
.item-header-tabs button.active {
  background-color: #ccddee;
  border-left: 8px solid red;
  border-top: 8px solid red;
  border-bottom: 8px solid red;
  color: black;
  /* border-right: 8px solid #0B3B59; */
  z-index: 1;
}

.hide {
  display: none;
}



/* Style the accordion panel. Note: hidden by default */

.searchResults {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  top: 35px;
  height: 90vh;
  overflow-y: auto;
}

 button.hide {
  display: none;
}

.ui-widget {
  font-size: 1.5rem;
}

.ui-autocomplete {
  background-color: white;
  width: 390px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-state-active {
  background: #F2EFE9;
}

.ui-state-hover {
  background: #F2EFE9;
}



footer {
  width: 100vw;
  height: 20px;

}

.search-button {
  margin-right: 10px;
}

@media screen and (min-height: 568px) {
  .item-header-tabs, .searchResults {
    top: 0;
  }
}

@media screen and (min-width: 842px) {
  .searchResults {
    padding-left: 80px;
  }
}

@media screen and (max-width: 815px){
  .searchResults{
    justify-content: center;
  }



  .item-header-tabs .restart-button {
    padding: 10px;
  }
}

@media screen and (min-height: 569px) {
  .input-container-flex {
    bottom: 2vh;
  }
}

@media screen and (max-height: 568px) {
  .input-container-flex {
    bottom: 3vh;
  }
}

@media screen and (min-width: 375px) {
  .bg-img-container{
    height: 40vh;
  }
}


@media screen and (max-width: 544px) {
  .bg-img-container{
    height: 35vh;
  }

  .instruction-2 {
    font-size: 1.1rem;
  }
}



@media screen and (max-width: 784px){
  .srch-restart-buttons {
    display: flex;
    justify-content: center;
  }

  .item-header-tabs {
    max-width: 80px;
  }

  .item-header-tabs button{
    font-size: .8rem;
  }

  .img-container{
    background-image: none;
  }

  .restart-2 {
    margin-top: 0px;
  }
}



@media screen and (min-width: 522px) {


  .search-box {
    height: 4vh;
  }

}


@media screen and (max-width: 578px){

  .instruction {
    font-size: 1rem;
  }

}

@media screen and (max-width: 698px) {

  .prices-grid {
    font-size: 1rem;
  }

  header {
    margin-left: 10px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-item {
    font-size: 1rem;
  }

  .view-buttons {
    width: 80vw;
  }

}

@media screen and (max-width: 450px) {
  .view-buttons {
    width: 60vw;

  }

  .view-buttons .nav-item {
    font-size: .7rem;
  }

  .item-view, .total-view-flex {
    padding: 5px;
  }

}
@media screen and (max-width: 367px) {

  .prices-grid {
    font-size: .85rem;
  }

}


@media screen and (min-width: 698px) {

  .scroll-container-flex {
    justify-content: space-evenly;

  }

}

  @media screen and (max-width: 938px) {
    .conditions-short {
      display: block;
    }

    .conditions {
      display: none;
    }
  }

  @media screen and (max-width: 1048px) {
    .nav-item{
      font-size: 1rem;
    }
  }
